####################
##    Main env    ##
####################

IP=127.0.0.1
PORT=80
DB_ROOT_PASSWORD=password
DB_NAME=wordpress
WP_TABLE_PREFIX=wp
APP_NAME=senior-wp-assessment

# Environment type
# Use function wp_get_environment_type() to operate with it
WP_ENVIRONMENT_TYPE=local
